<!DOCTYPE html>
<html>
<head>
	<title>Rock or Not</title>
	<% include head %>
</head>
<body>
	<% include navbar %>
	<div class="container">
		<% users.map((name)=>{ %>
			<li><%=name.name %></li>
		<% }); %>
	</div>
</body>
</html>
