<!DOCTYPE html>
<html>
<head>
	<title> Vote App </title>
	<% include head %>
</head>
<body>
	<div class="container">
		<% include navbar %>
		<% users.map((name)=>{ %>
			<li><%=name.name %></li>
		<% }); %>
	</div>
</body>
</html>
