body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.band-img{
	width: 100%;
}

form{
	width: 50vw;
	margin: auto;
}

.form-group > label{
	margin-top: 10px;
}

.login-btn{
	margin-top: 13px;
}

.vote-btn{
	margin: 13px;
}

a > .vote-thumb{
	width: 10vw;
}

.standings-welcome{
	padding: 10px 0;
}

.login-to-vote{
	color: red;
}

.standings-result{
	display: block;
}

.standings-img{
	/*display: block;*/
	/*float: left;*/
	width: 100%;
	margin: 5px 0;
}

.num-votes{
	display: inline-block;
}